Hakari_STM/Debug/
Hakari_STM/Release/
Hakari_STM/.settings/
Hakari_STM/*.launch
Hakari_STM/*.o
Hakari_STM/*.elf
Hakari_STM/*.bin
Hakari_STM/*.map
*.o
*.su
*.elf

IndaV2_STM/Debug/
IndaV2_STM/Release/
IndaV2_STM/.settings/
IndaV2_STM/*.launch
IndaV2_STM/*.o
IndaV2_STM/*.elf
IndaV2_STM/*.bin
IndaV2_STM/*.map


Hakari_Kicad/*.bak
Hakari_Kicad/*.kicad_pcb-bak
Hakari_Kicad/*.sch-bak
Hakari_Kicad/*-save.kicad_pcb
Hakari_Kicad/_autosave-*
Hakari_Kicad/fp-info-cache
Hakari_Kicad/*.kicad_prl
Hakari_Kicad/*.kicad_pcb-bin
Hakari_Kicad/Hakari_Kicad-backups/
Hakari_Kicad/.history/


.DS_Store
Thumbs.db


.metadata/
RemoteSystemsTempFiles/